html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

main {
  flex: 1 0 auto;
  min-height: 100vh
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 2.5rem;
  max-width: 90rem;
  margin-inline: auto;
}

h1 {
  margin: clamp(2rem, 5vh, 4rem) 1rem 1rem;
  margin-bottom: 1.25rem;
  text-align: center;
  font-size: clamp(1.2rem, 3.5vw, 3.5rem);
}

h2 {
  text-align: center;
  font-size: clamp(1.3rem, 2.3vw, 3rem);
  margin: 1rem;
}

p {
  text-align: center;
  font-size: clamp(1.1rem, 2.4vw, 2rem);
  line-height: 1.6;
  margin-block: 1.15rem;
  max-width: 65ch;
}

a {
  color: #008000;
  text-decoration: none;
}

a.active {
  text-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.btn {
  display: inline-block;
  background: #ffd700;
  color: #000;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 3.5vw, 1.4rem);
  font-weight: 600;
  text-decoration: none;
  transition: background 0.2s;
}

.btn:hover,
.btn:focus-visible {
  background: #008000;
  color: #fff;
}

.shots {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.shots img {
  width: 100%;
  height: auto;
  aspect-ratio: 9/16;
  object-fit: contain;
  border-radius: 0.45rem;
}

footer {
  margin-top: auto;
  padding: 1rem;
  background: #ffd700;
  border-top: 0.08vw solid #000;
}

footer p {
  color: #000;
  margin: 0;
  font-style: italic;
  font-size: clamp(1.05rem, 2.8vw, 1.5rem);
  line-height: 1.4;
}

footer a {
  color: #000;
  font-style: normal;
  text-decoration: underline;
  font-weight: 600;
}

@media (min-width: 1400px) {
  p { font-size: clamp(1rem, 1.8vw, 1.75rem); }
}

@media (max-width: 1024px) {
  h1 {
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    margin-top: clamp(2.5rem, 7vh, 3.5rem);
  }
  p {
    font-size: clamp(0.8rem, 2.5vw, 1.6rem);
  }
}

      
@media (min-width: 700px) {
  .shots {
    grid-template-columns: repeat(2, 1fr);
  }
  p {
    font-size: clamp(1.2rem, 2.2vw, 1.8rem);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
    margin-top: clamp(2rem, 9vh, 3rem);
  }
  p {
    font-size: clamp(1.1rem, 2.1vw, 1.7rem);
  }
}
